<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="itemService" interface="org.apromore.item.ItemService"/>
  <reference id="uiService" interface="org.apromore.ui.UIService"/>

  <!-- Account / Login -->
  <service interface="org.apromore.ui.spi.UIPlugin">
    <bean class="org.apromore.item_ui.LoginAccountUIPlugin">
      <argument ref="uiService"/>
    </bean>
  </service>

  <!-- Account / Logout -->
  <service interface="org.apromore.ui.spi.UIPlugin">
    <bean class="org.apromore.item_ui.LogoutAccountUIPlugin"/>
  </service>

  <!-- Item / Select Item -->
  <service interface="org.apromore.ui.spi.UIPlugin">
    <bean class="org.apromore.item_ui.SelectItemUIPlugin">
      <argument ref="itemService"/>
    </bean>
  </service>

  <!-- Item / Upload File -->
  <service interface="org.apromore.ui.spi.UIPlugin">
    <bean class="org.apromore.item_ui.UploadItemUIPlugin">
      <argument ref="itemService"/>
      <argument ref="uiService"/>
    </bean>
  </service>

</blueprint>
