<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="bpmnItemService" interface="org.apromore.bpmn_item.BPMNItemService"/>

  <!-- Export the UIPlugin -->
  <bean id="uiPlugin" class="org.apromore.bpmn_ui.BPMNUIPlugin">
    <argument ref="bpmnItemService"/>
  </bean>
  <service ref="uiPlugin" interface="org.apromore.ui.spi.UIPlugin"/>

</blueprint>
