@media (prefers-color-scheme: dark) {
    html, .z-grid,.z-messagebox-window, .z-page, .z-window, .z-window-content, .z-window-modal, .z-window-shadow {
        color: white;
        background: #333;
    }

    .z-listbox-header, .z-menu, .z-menu-content, .z-menuitem, .z-menuitem-content, .z-menupopup, .z-menupopup .z-menuitem-content, .z-menupopup-content, .z-menubar, .z-paging, .z-window-header {
        color: white;
        background: #444;
    }

    .z-messagebox .z-label {
        color: white;
    }

    .z-listbox-body {
        color: white;
        background: black;
    }

    .z-menupopup .z-menuitem-content[disabled] {
        color: silver;
        background: #333;
    }
}
