<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
  xmlns:jpa="http://aries.apache.org/xmlns/jpa/v2.0.0"
  xmlns:tx="http://aries.apache.org/xmlns/transactions/v1.2.0">

  <!-- OSGi service dependencies -->
  <reference id="bpmnItemRepository" interface="org.apromore.bpmn_item.jpa.BpmnItemRepository"/>
  <reference id="importerService" interface="org.apromore.service.bpmndiagramimporter.BPMNDiagramImporter"/>
  <reference id="itemPluginContext" interface="org.apromore.item.spi.ItemPluginContext"/>

  <!-- Export as both a BPMNItemService for clients, and as an ItemPlugin for the system -->
  <bean id="bpmnItemService" class="org.apromore.bpmn_item.impl.BPMNItemPluginImpl">
    <argument ref="itemPluginContext"/>
    <argument ref="importerService"/>
    <property name="bpmnItemRepository" ref="bpmnItemRepository"/>
  </bean>
  <service ref="bpmnItemService" interface="org.apromore.bpmn_item.BPMNItemService"/>
  <service ref="bpmnItemService" interface="org.apromore.item.spi.ItemPlugin"/>

</blueprint>
