<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
  xmlns:jpa="http://aries.apache.org/xmlns/jpa/v2.0.0"
  xmlns:tx="http://aries.apache.org/xmlns/transactions/v1.2.0">

  <!-- OSGi service dependencies -->
  <reference id="xesItemRepository" interface="org.apromore.xes_item.jpa.XesItemRepository"/>
  <reference id="itemPluginContext" interface="org.apromore.item.spi.ItemPluginContext"/>

  <!-- Export as both a BPMNItemService for clients, and as an ItemPlugin for the system -->
  <bean id="xesItemService" class="org.apromore.xes_item.impl.XESItemPluginImpl">
    <argument ref="itemPluginContext"/>
    <property name="xesItemRepository" ref="xesItemRepository"/>
  </bean>
  <service ref="xesItemService" interface="org.apromore.xes_item.XESItemService"/>
  <service ref="xesItemService" interface="org.apromore.item.spi.ItemPlugin"/>

</blueprint>
